# 1. 가짜 entity & 문장 generate

## 1-0. 기초 설정

In [61]:
import pandas as pd
# pd.set_option('mode.chained_assignment',  None)
vanila_dataset = pd.read_csv("/opt/ml/dataset/train/dup_clean_train.csv", index_col = 0, encoding = 'utf-8')
vanila_dataset['id'] = [i for i in range(len(vanila_dataset))]
vanila_dataset.reset_index(drop=False, inplace=True)
vanila_dataset

data= vanila_dataset

sub_entity, sub_type= [], []
obj_entity, obj_type= [], []
sub_idx, obj_idx= [], []
sentence= []

"""preprocess"""
for i, [x, y, z] in enumerate(zip(data['subject_entity'], data['object_entity'], data['sentence'])):
    sub_typ= x[1:-1].split(':')[-1].split('\'')[-2]
    obj_typ= y[1:-1].split(':')[-1].split('\'')[-2]
            
    for idx_i in range(len(x)):
        if x[idx_i: idx_i+ 9]== 'start_idx':
            sub_start= int(x[idx_i+12:].split(',')[0].strip())
        if x[idx_i: idx_i+7]== 'end_idx':
            sub_end= int(x[idx_i+10:].split(',')[0].strip())
                
        if y[idx_i: idx_i+ 9]== 'start_idx':
            obj_start= int(y[idx_i+12:].split(',')[0].strip())
        if y[idx_i: idx_i+7]== 'end_idx':
            obj_end= int(y[idx_i+10:].split(',')[0].strip())

    sub_i= [sub_start, sub_end]
    obj_i= [obj_start, obj_end]

    sub_entity.append(z[sub_i[0]: sub_i[1]+1])
    obj_entity.append(z[obj_i[0]: obj_i[1]+1])
    sub_type.append(sub_typ); sub_idx.append(sub_i)
    obj_type.append(obj_typ); obj_idx.append(obj_i)
        
    sentence.append(z)
df = pd.DataFrame({'id': data['id'], 'sentence' : sentence, 'subject_entity': sub_entity, 'object_entity': obj_entity,
                        'subject_type': sub_type, 'object_type': obj_type, 'label': data['label'],
                        'subject_idx': sub_idx, 'object_idx': obj_idx})

df

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,조지 해리슨,ORG,PER,no_relation,"[24, 26]","[13, 18]"
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,ORG,ORG,no_relation,"[19, 23]","[14, 17]"
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,ORG,ORG,org:member_of,"[21, 24]","[34, 41]"
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,박정부,ORG,PER,org:top_members/employees,"[13, 17]","[22, 24]"
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,ORG,DAT,no_relation,"[22, 30]","[0, 3]"
...,...,...,...,...,...,...,...,...,...
32459,32459,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,유기준,부산 서구·동구,PER,LOC,per:employee_of,"[93, 95]","[100, 107]"
32460,32460,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...",최시형,손병희,PER,PER,per:colleagues,"[7, 9]","[17, 19]"
32461,32461,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,완도군,신우철,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
32462,32462,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...",JTBC,중앙홀딩스,ORG,ORG,no_relation,"[6, 9]","[21, 25]"
32463,32463,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,화순군,구충곤,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

## 1-1. 가짜 entity 생성

In [62]:
relation_class = ['no_relation', 'org:top_members/employees', 'org:members',
        'org:product', 'per:title', 'org:alternate_names',
        'per:employee_of', 'org:place_of_headquarters', 'per:product',
        'org:number_of_employees/members', 'per:children',
        'per:place_of_residence', 'per:alternate_names',
        'per:other_family', 'per:colleagues', 'per:origin', 'per:siblings',
        'per:spouse', 'org:founded', 'org:political/religious_affiliation',
        'org:member_of', 'per:parents', 'org:dissolved',
        'per:schools_attended', 'per:date_of_death', 'per:date_of_birth',
        'per:place_of_birth', 'per:place_of_death', 'org:founded_by',
        'per:religion']

type_class = ['ORG/ORG','ORG/PER','ORG/DAT','ORG/LOC','ORG/POH','ORG/NOH',
              'PER/ORG','PER/PER','PER/DAT','PER/LOC','PER/POH','PER/NOH']

In [63]:
from tqdm.notebook import tqdm
# relation_book[relation_class][type_class][random]
relation_book = []

for _, relation_name in tqdm(enumerate(relation_class)) :
    temp_list = []
    temp_df = df[df['label'] == str(relation_name) ][['subject_entity','object_entity','subject_type','object_type', 'label']]
    
    for _ , type_name in enumerate(type_class) : 
        temp_list2 = []
        temp_df2 = temp_df[temp_df['subject_type'] + '/' + temp_df['object_type'] == str(type_name)][['subject_entity','object_entity']]
        temp_df2_idx_list = list(temp_df2.index)
        
        for i in temp_df2_idx_list : 
            temp_list3 = []
            temp_list3.append(temp_df2['subject_entity'][i])
            temp_list3.append(temp_df2['object_entity'][i])
            
            temp_list2.append(temp_list3)
        
        temp_list.append(temp_list2)
        
    relation_book.append(temp_list)

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0…

In [ ]:
relation_book[5][0]

In [22]:
# label, subject_type, object_type이 모두 같아야만 치환 가능
# 문장 데이터 교체 자동화가 필요함!!
import random
from tqdm.notebook import tqdm
import copy
modified_df = copy.copy(df)

for i in tqdm(range(len(df))) : 
    temp_list = []
    relation_num = relation_class.index(df['label'][i])
    type_num = type_class.index((df['subject_type'][i]+'/' + df['object_type'][i]))
    
    temp_list = relation_book[relation_num][type_num]
    random_entity = temp_list[random.randint(0, len(temp_list)-1)]
    
    # index 설정
    sub_idx = df['subject_idx'][i]    
    obj_idx = df['object_idx'][i]
    
    # sub가 먼저 나올 경우
    if min(sub_idx[0],obj_idx[0]) == sub_idx[0] :
        temp_len = len(df['sentence'][i][sub_idx[1]+1:obj_idx[0]])
        
        modified_sentence = df['sentence'][i][:sub_idx[0]] + random_entity[0] + df['sentence'][i][sub_idx[1]+1:obj_idx[0]] + random_entity[1] + df['sentence'][i][obj_idx[1]+1:]
        
        modified_df['subject_idx'][i][0] = len(df['sentence'][i][:sub_idx[0]])
        modified_df['subject_idx'][i][1] = len(df['sentence'][i][:sub_idx[0]] + random_entity[0]) -1
        modified_df['object_idx'][i][0] = modified_df['subject_idx'][i][1] + temp_len + 1
        modified_df['object_idx'][i][1] = modified_df['object_idx'][i][0] + len(random_entity[1]) -1
    
    # obj가 먼저 나올 경우
    else :
        temp_len = len(df['sentence'][i][obj_idx[1]+1:sub_idx[0]])
        
        modified_sentence = df['sentence'][i][:obj_idx[0]] + random_entity[1] + df['sentence'][i][obj_idx[1]+1:sub_idx[0]] + random_entity[0] + df['sentence'][i][sub_idx[1]+1:]
        
        modified_df['object_idx'][i][0] = len(df['sentence'][i][:obj_idx[0]]) 
        modified_df['object_idx'][i][1] = len(df['sentence'][i][:obj_idx[0]] + random_entity[1]) -1
        modified_df['subject_idx'][i][0] = modified_df['object_idx'][i][1] + temp_len + 1
        modified_df['subject_idx'][i][1] = modified_df['subject_idx'][i][0] + len(random_entity[0]) -1
        
        
    # 갈아끼우기
    modified_df['sentence'][i] = modified_sentence
    modified_df['subject_entity'][i] = random_entity[0]
    modified_df['object_entity'][i] = random_entity[1]
    
    # print(random_entity)
    # print("BEFORE : ", df['sentence'][i])
    # print("AFTER : ", modified_sentence)
    # print("\n")
modified_df

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=32464.0), HTML(value='')))

<ipython-input-22-c09fe496017f>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modified_df['sentence'][i] = modified_sentence
<ipython-input-22-c09fe496017f>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modified_df['subject_entity'][i] = random_entity[0]
<ipython-input-22-c09fe496017f>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modified_df['object_entity'][i] = random_entity[1]

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,〈Something〉는 김성수이 쓰고 경성방직가 1969년 앨범 《Abbey Roa...,경성방직,김성수,ORG,PER,no_relation,"[21, 24]","[13, 15]"
1,1,호남이 기반인 바른미래당·환경부·국립공원관리공단이 우여곡절 끝에 합당해 민생당(가칭...,국립공원관리공단,환경부,ORG,ORG,no_relation,"[18, 25]","[14, 16]"
2,2,K리그2에서 성적 1위를 달리고 있는 부천시는 지난 26일 경기도으로부터 관중 유치...,부천시,경기도,ORG,ORG,org:member_of,"[21, 23]","[33, 35]"
3,3,균일가 생활용품점 (주)대우그룹(대표 김우중)는 코로나19 바이러스로 어려움을 겪고...,대우그룹,김우중,ORG,PER,org:top_members/employees,"[13, 16]","[21, 23]"
4,4,2005년 프로 야구 드래프트 1순위로 전북 현대 모터스에게 입단하면서 등번호는 8...,전북 현대 모터스,2005,ORG,DAT,no_relation,"[22, 30]","[0, 3]"
...,...,...,...,...,...,...,...,...,...
32459,32459,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,김영종,종로구,PER,LOC,per:employee_of,"[93, 95]","[100, 102]"
32460,32460,"법포는 다시 아나킨 스카이워커, 서병학, 파드메 아미달라 직계인 북접과 다시 서장옥...",아나킨 스카이워커,파드메 아미달라,PER,PER,per:colleagues,"[7, 15]","[23, 30]"
32461,32461,신한금융지주(군수 조용병)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'...,신한금융지주,조용병,ORG,PER,org:top_members/employees,"[0, 5]","[10, 12]"
32462,32462,"중앙일보, 더블어민주당 회장을 지낸 이후 민중당 회장, 재단법인 한반도평화만들기 이...",더블어민주당,민중당,ORG,ORG,no_relation,"[6, 11]","[23, 25]"
32463,32463,담양군(군수 최형식)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,담양군,최형식,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [23]:
for i in tqdm(range(len(modified_df))) : 
    start_cut = min(modified_df['subject_idx'][i][0], modified_df['object_idx'][i][0])
    end_cut = max(modified_df['subject_idx'][i][1], modified_df['object_idx'][i][1])
    modified_df['sentence'][i] = modified_df['sentence'][i][start_cut:end_cut+1]

modified_df

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=32464.0), HTML(value='')))

<ipython-input-23-a25a094d17e4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modified_df['sentence'][i] = modified_df['sentence'][i][start_cut:end_cut+1]

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,김성수이 쓰고 경성방직,경성방직,김성수,ORG,PER,no_relation,"[21, 24]","[13, 15]"
1,1,환경부·국립공원관리공단,국립공원관리공단,환경부,ORG,ORG,no_relation,"[18, 25]","[14, 16]"
2,2,부천시는 지난 26일 경기도,부천시,경기도,ORG,ORG,org:member_of,"[21, 23]","[33, 35]"
3,3,대우그룹(대표 김우중,대우그룹,김우중,ORG,PER,org:top_members/employees,"[13, 16]","[21, 23]"
4,4,2005년 프로 야구 드래프트 1순위로 전북 현대 모터스,전북 현대 모터스,2005,ORG,DAT,no_relation,"[22, 30]","[0, 3]"
...,...,...,...,...,...,...,...,...,...
32459,32459,김영종(4선·종로구,김영종,종로구,PER,LOC,per:employee_of,"[93, 95]","[100, 102]"
32460,32460,"아나킨 스카이워커, 서병학, 파드메 아미달라",아나킨 스카이워커,파드메 아미달라,PER,PER,per:colleagues,"[7, 15]","[23, 30]"
32461,32461,신한금융지주(군수 조용병,신한금융지주,조용병,ORG,PER,org:top_members/employees,"[0, 5]","[10, 12]"
32462,32462,더블어민주당 회장을 지낸 이후 민중당,더블어민주당,민중당,ORG,ORG,no_relation,"[6, 11]","[23, 25]"
32463,32463,담양군(군수 최형식,담양군,최형식,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [24]:
modified_df.to_csv("/opt/ml/dataset/train/before_gen3.csv", encoding='utf-8')

In [25]:
df1 = pd.read_csv("/opt/ml/dataset/train/before_gen1.csv", encoding = 'utf-8')
df2 = pd.read_csv("/opt/ml/dataset/train/before_gen2.csv", encoding = 'utf-8')
df3 = pd.read_csv("/opt/ml/dataset/train/before_gen3.csv", encoding = 'utf-8')

In [26]:
dataset_concat = pd.concat([df1, df2, df3], ignore_index=True)
dataset_concat.drop(['Unnamed: 0'], axis=1, inplace=True)
dataset_concat['id'] = [i for i in range(len(dataset_concat))]
dataset_concat

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소,가로세로연구소,강용석,ORG,PER,no_relation,"[21, 27]","[13, 15]"
1,1,아에로플로트·로시야 항공,로시야 항공,아에로플로트,ORG,ORG,no_relation,"[21, 26]","[14, 19]"
2,2,유럽 좌파당는 지난 26일 유럽 연합,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[21, 26]","[36, 40]"
3,3,익산시(대표 정헌율,익산시,정헌율,ORG,PER,org:top_members/employees,"[13, 15]","[20, 22]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
97387,97387,김영종(4선·종로구,김영종,종로구,PER,LOC,per:employee_of,"[93, 95]","[100, 102]"
97388,97388,"아나킨 스카이워커, 서병학, 파드메 아미달라",아나킨 스카이워커,파드메 아미달라,PER,PER,per:colleagues,"[7, 15]","[23, 30]"
97389,97389,신한금융지주(군수 조용병,신한금융지주,조용병,ORG,PER,org:top_members/employees,"[0, 5]","[10, 12]"
97390,97390,더블어민주당 회장을 지낸 이후 민중당,더블어민주당,민중당,ORG,ORG,no_relation,"[6, 11]","[23, 25]"
97391,97391,담양군(군수 최형식,담양군,최형식,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [27]:
# 한번 섞고 인덱스 다시
df_shuffled=dataset_concat.sample(frac=1).reset_index(drop=True)
df_shuffled['id'] = [i for i in range(len(dataset_concat))]
df_shuffled

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,"2003년 11월 11일, 로컬 문화의 활성화와 언더그라운드의 발전을 위해 정글과 ...",열린우리당,2003년 11월 11일,ORG,DAT,org:founded,"[75, 79]","[3, 15]"
1,1,2008년 7월에 ‘주식회사 우리 히어로즈,우리 히어로즈,2008년,ORG,DAT,org:founded,"[16, 22]","[0, 4]"
2,2,남양유업(군수 홍원식,남양유업,홍원식,ORG,PER,org:top_members/employees,"[0, 3]","[8, 10]"
3,3,안도 모모후쿠 닛신식품,닛신식품,안도 모모후쿠,ORG,PER,org:top_members/employees,"[19, 22]","[11, 17]"
4,4,박현주에 속한 아틀레틱 빌바오 B에서 뛰다가 레알 바야돌리드에서의 임대 생활이 끝난...,미래에셋,박현주,ORG,ORG,no_relation,"[82, 85]","[3, 5]"
...,...,...,...,...,...,...,...,...,...
97387,97387,정은경 질병관리청,질병관리청,정은경,ORG,PER,org:top_members/employees,"[8, 12]","[4, 6]"
97388,97388,니콜라이 1세가 자기가 돈 카를로스(알렉산드르 1세,니콜라이 1세,알렉산드르 1세,PER,PER,no_relation,"[4, 10]","[24, 31]"
97389,97389,"프랑스는 UEFA 유로 1984, UEFA 유로 1984",프랑스,UEFA 유로 1984,ORG,DAT,org:member_of,"[46, 48]","[65, 76]"
97390,97390,루이 14세의 동생이자 루이 15세,루이 15세,루이 14세,PER,PER,per:other_family,"[13, 18]","[0, 5]"
97391,97391,1993년에 난카이대학의 설립자 장보링은 독립운동가인 김영삼,김영삼,1993년,PER,DAT,no_relation,"[34, 36]","[4, 8]"

In [28]:
dataset_concat.to_csv("/opt/ml/dataset/train/before_gen_concat.csv", encoding='utf-8')

## 2. 문장 생성 후 전처리

- 문장의 길이가 너무 길다 평균 130 정도로 맞춰주는게 어떨까?
    - 만약 entity가 그 이상의 위치에 있다면 마지막 entity 위치에서 잘라준다.
- 문장의 길이가 너무 짧다면 삭제시켜주자 [EOS] 토큰에서 잘라주는것도 좋을듯
- 연속된 기호가 중복되는경우 짧게 만들어주자
- entity 위치 뒤에 오는 온점에서 잘라주자!

In [7]:
import pandas as pd

test_df = pd.read_csv("/opt/ml/dataset/train/gen_train_ing_53010.csv", index_col = 0, encoding='utf-8')
test_df

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소,가로세로연구소,강용석,ORG,PER,no_relation,"[21, 27]","[13, 15]"
1,1,아에로플로트·로시야 항공,로시야 항공,아에로플로트,ORG,ORG,no_relation,"[21, 26]","[14, 19]"
2,2,유럽 좌파당는 지난 26일 유럽 연합,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[21, 26]","[36, 40]"
3,3,익산시(대표 정헌율,익산시,정헌율,ORG,PER,org:top_members/employees,"[13, 15]","[20, 22]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
97387,97387,김영종(4선·종로구,김영종,종로구,PER,LOC,per:employee_of,"[93, 95]","[100, 102]"
97388,97388,"아나킨 스카이워커, 서병학, 파드메 아미달라",아나킨 스카이워커,파드메 아미달라,PER,PER,per:colleagues,"[7, 15]","[23, 30]"
97389,97389,신한금융지주(군수 조용병,신한금융지주,조용병,ORG,PER,org:top_members/employees,"[0, 5]","[10, 12]"
97390,97390,더블어민주당 회장을 지낸 이후 민중당,더블어민주당,민중당,ORG,ORG,no_relation,"[6, 11]","[23, 25]"
97391,97391,담양군(군수 최형식,담양군,최형식,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [8]:
from tqdm.notebook import tqdm
uncommon_list = []

for i in tqdm(range(len(test_df))) :
    # sub_i = test_df['subject_idx'][0][1:-1].split(", ")
    # obj_i = test_df['object_idx'][0][1:-1].split(", ")
    # last_entity = max(int(sub_i), int(obj_i))
    
    try :
        start_sub = test_df['sentence'][i].find(test_df['subject_entity'][i])
        end_sub = start_sub + len(test_df['subject_entity'][i]) -1
        test_df['subject_idx'][i] = [start_sub,end_sub]

        start_obj = test_df['sentence'][i].find(test_df['object_entity'][i])
        end_obj = start_obj + len(test_df['object_entity'][i]) -1
        test_df['object_idx'][i] = [start_obj,end_obj]
    except :
        uncommon_list.append(i)
    
test_df
    
    # if test_df['sentence'][i][int(sub_i[0]):int(sub_i[1])] != test_df['subject_entity'][i] :
    #     print(i)
    #     print(test_df['sentence'][i][int(sub_i[0]):int(sub_i[1])])
    #     print(test_df['subject_entity'][i])
    # if test_df['sentence'][i][int(obj_i[0]):int(obj_i[1])] != test_df['object_entity'][i] :
    #     print(i)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=97392.0), HTML(value='')))

<ipython-input-8-b4f66b2ac04f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['subject_idx'][i] = [start_sub,end_sub]
<ipython-input-8-b4f66b2ac04f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['object_idx'][i] = [start_obj,end_obj]

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,아에로플로트·로시야 항공,로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
97387,97387,김영종(4선·종로구,김영종,종로구,PER,LOC,per:employee_of,"[0, 2]","[7, 9]"
97388,97388,"아나킨 스카이워커, 서병학, 파드메 아미달라",아나킨 스카이워커,파드메 아미달라,PER,PER,per:colleagues,"[0, 8]","[16, 23]"
97389,97389,신한금융지주(군수 조용병,신한금융지주,조용병,ORG,PER,org:top_members/employees,"[0, 5]","[10, 12]"
97390,97390,더블어민주당 회장을 지낸 이후 민중당,더블어민주당,민중당,ORG,ORG,no_relation,"[0, 5]","[17, 19]"
97391,97391,담양군(군수 최형식,담양군,최형식,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [10]:
test_df = test_df.drop(uncommon_list)

In [14]:
test_df.to_csv("/opt/ml/dataset/train/gen_train_ing_53010.csv", encoding='utf-8')

In [11]:
test_df['id'] = [i for i in range(len(test_df))]
test_df.reset_index(drop=False, inplace=True)
test_df.drop(['index'], axis=1, inplace=True)
test_df

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,아에로플로트·로시야 항공,로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
97350,97350,김영종(4선·종로구,김영종,종로구,PER,LOC,per:employee_of,"[0, 2]","[7, 9]"
97351,97351,"아나킨 스카이워커, 서병학, 파드메 아미달라",아나킨 스카이워커,파드메 아미달라,PER,PER,per:colleagues,"[0, 8]","[16, 23]"
97352,97352,신한금융지주(군수 조용병,신한금융지주,조용병,ORG,PER,org:top_members/employees,"[0, 5]","[10, 12]"
97353,97353,더블어민주당 회장을 지낸 이후 민중당,더블어민주당,민중당,ORG,ORG,no_relation,"[0, 5]","[17, 19]"
97354,97354,담양군(군수 최형식,담양군,최형식,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [57]:
real_gen = pd.read_csv("/opt/ml/dataset/train/gen_train_ing.csv", index_col = 0, encoding='utf-8')
real_gen

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
22213,22213,외야수 케니 로프턴,케니 로프턴,외야수,PER,POH,per:title,"[4, 9]","[0, 2]"
22214,22214,메이지 천황가 고메이 천황,메이지 천황,고메이 천황,PER,POH,no_relation,"[0, 5]","[8, 13]"
22215,22215,"윤상직은 MBC에브리원 '대한외국인'에 출연해 ""자유한국당",윤상직,자유한국당,PER,ORG,per:employee_of,"[0, 2]","[27, 31]"
22216,22216,민영돈 조선대학교,조선대학교,민영돈,ORG,PER,org:top_members/employees,"[4, 8]","[0, 2]"
22217,22217,공필성 씨는 롯데 자이언츠,공필성,롯데 자이언츠,PER,ORG,per:employee_of,"[0, 2]","[7, 13]"

In [23]:
from tqdm.notebook import tqdm

for i in tqdm(range(93200,97355)) : 
    real_gen['sentence'][i] = test_df['sentence'][i]
    real_gen['subject_entity'][i] = test_df['subject_entity'][i]
    real_gen['object_entity'][i] = test_df['object_entity'][i]
    real_gen['subject_type'][i] = test_df['subject_type'][i]
    real_gen['object_type'][i] = test_df['object_type'][i]
    real_gen['label'][i] = test_df['label'][i]
    real_gen['subject_idx'][i] = test_df['subject_idx'][i]
    real_gen['object_idx'][i] = test_df['object_idx'][i]

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=4155.0), HTML(value='')))

<ipython-input-23-1613973083c0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['sentence'][i] = test_df['sentence'][i]
<ipython-input-23-1613973083c0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['subject_entity'][i] = test_df['subject_entity'][i]
<ipython-input-23-1613973083c0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['object_entity'][i] = test_df['object_entity'][i]
<ipython-input-23-1613973083c0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['subject_type'][i] = test_df['subject_type'][i]
<ipython-input-23-1613973083c0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['object_type'][i] = test_df['object_type'][i]
<ipython-input-23-1613973083c0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['label'][i] = test_df['label'][i]
<ipython-input-23-1613973083c0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['subject_idx'][i] = test_df['subject_idx'][i]
<ipython-input-23-1613973083c0>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gen['object_idx'][i] = test_df['object_idx'][i]

In [28]:
real_gen

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
93201,93201,러버 덕》(호텔 홀리데이즈 인 더 선)은 일본 싱어송라이터 플로렌타인 호프만,플로렌타인 호프만,러버 덕,PER,POH,per:product,"[33, 41]","[0, 3]"
93202,93202,1982년 24일 KBO 리그,KBO 리그,1982년,ORG,DAT,org:founded,"[10, 15]","[0, 4]"
93203,93203,정용진 신세계그룹,신세계그룹,정용진,ORG,PER,org:top_members/employees,"[4, 8]","[0, 2]"
93204,93204,알프레드 노벨는 이탈리아에서 개최된 2011년 UEFA U-19 여자 축구 선수권 ...,알프레드 노벨,스웨덴,PER,ORG,per:origin,"[0, 6]","[51, 53]"
93205,93205,"대한민국 육군에 소속되며, 2017년 롯데제과, 백골병단",백골병단,대한민국 육군,ORG,ORG,org:member_of,"[27, 30]","[0, 6]"

In [29]:
real_gen.to_csv("/opt/ml/dataset/train/gen_train_ing.csv", encoding='utf-8')

In [49]:
before_gen1 = pd.read_csv("/opt/ml/dataset/train/before_gen1.csv", index_col = 0, encoding='utf-8')
before_gen2 = pd.read_csv("/opt/ml/dataset/train/before_gen2.csv", index_col = 0, encoding='utf-8')
before_gen3 = pd.read_csv("/opt/ml/dataset/train/before_gen3.csv", index_col = 0, encoding='utf-8')

In [51]:
before_gen1['sentence'][0].find(before_gen1['object_entity'][0])

0

In [31]:
cnt = 0

for i in range(1000) :
    cnt += len(test_df['sentence'][i])

print(cnt / 1000)

244.59

# 3. wrong sentence cleansing

In [189]:
import pandas as pd
from tqdm.notebook import tqdm

test_cleansing = pd.read_csv("/opt/ml/dataset/train/gen_train_ing.csv", index_col = 0, encoding='utf-8')
test_cleansing

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
93201,93201,러버 덕》(호텔 홀리데이즈 인 더 선)은 일본 싱어송라이터 플로렌타인 호프만,플로렌타인 호프만,러버 덕,PER,POH,per:product,"[33, 41]","[0, 3]"
93202,93202,1982년 24일 KBO 리그,KBO 리그,1982년,ORG,DAT,org:founded,"[10, 15]","[0, 4]"
93203,93203,정용진 신세계그룹,신세계그룹,정용진,ORG,PER,org:top_members/employees,"[4, 8]","[0, 2]"
93204,93204,알프레드 노벨는 이탈리아에서 개최된 2011년 UEFA U-19 여자 축구 선수권 ...,알프레드 노벨,스웨덴,PER,ORG,per:origin,"[0, 6]","[51, 53]"
93205,93205,"대한민국 육군에 소속되며, 2017년 롯데제과, 백골병단",백골병단,대한민국 육군,ORG,ORG,org:member_of,"[27, 30]","[0, 6]"

In [190]:
bad_sentence = []

# 1. end word cleansing
ending_list = ["다.","요.","이다","입니다",'선다', '가다', '폈다', '왔다', '셨다', '하다', '째다', '찮다', '웠다', '위다',  
               '온다', '겁다', '제다', '한다', '준다', '도다', '댔다', '’다', '뉜다', '뤘다', '른다', '만다', 
               '눈다', '건다', '렀다', '난다', '룬다', '겼다', '친다', '않다', '쳤다', '는다', '푼다', '헀다', 
               '낀다', '췄다', '사다', '썼다', '부다', '본다', '쓴다', '맞다', '지다', '둔다', '린다', '샀다', 
               '컸다', '기다', '넸다', '적다', '서다', '란다', '태다', '졌다', '연다', '많다', '화다', '깝다', 
               '이다', '안다', '퍼다', '았다', '렸다', '끈다', '눴다', '간다', '켰다', '몄다', '크다', '였다', 
               '꿨다', '례다', '긴다', '르다', '뒀다', '갔다', '힌다', '신다', '랐다', '버다', '킨다', '체다', 
               '없다', '됐다', '있다', '터다', '짙다', '운다', '렇다', '냈다', '우다', '치다', '주다', '든다', 
               '꾼다', '인다', '섰다', '스다', '봤다', '깊다', '녔다', '트다', '같다', '리다', '뉴다', '노다', 
               '자다', '싸다', '빴다', '툰다', '혔다', '었다', '진다', '니다', '놨다', '좋다', '챈다', '떴다', 
               '유다', '나다', '민다', '났다', ')다', '탔다', '탰다', '했다', '텁다', '낸다', '된다', '줬다',
               '쁘다', '선다', '가다', '저다', '폈다', '왔다', '셨다', '해다', '하다', '째다', '겠다', '빠다', 
               '찮다', '웠다', '온다', '겁다', '제다', '한다', '준다', '도다', '높다', '댔다', '’다', '뉜다', 
               '뤘다', '만다', '른다', '고다', '녀다', '재다', '회다', '건다', '대다', '렀다', '난다', '룬다', 
               '드다', '계다', '겼다', '친다', "'다", '않다', '투다', '랜다', '쳤다', '때다', '즈다', '는다', 
               '%다', '췄다', '사다', '썼다', '찼다', '부다', '본다', '쓴다', '땄다', '거다', '뗀다', '카다', 
               '지다', '둔다', '린다', '넸다', '컸다', '샀다', '기다', '챘다', '서다', '죄다', '란다', '과다', 
               '꼈다', '태다', '졌다', ' 다', '퉜다', '랬다', '연다', '화다', '다다', '많다', '깝다', '오다', 
               '이다', '퍼다', '뗐다', '닌다', '았다', '댄다', '뜬다', '렸다', '눴다', '끈다', '간다', '내다', 
               '더다', '미다', '쇼다', '켰다', '몄다', '교다', '크다', '였다', '쳣다', '래다', '꿨다', '볐다', 
               '여다', '례다', '긴다', '뎠다', '르다', '뒀다', '갔다', '렵다', '힌다', '랐다', '버다', '킨다', 
               '체다', 's다', '없다', '됐다', '있다', '터다', '운다', '으다', '냈다', '우다', '은다', '주다', 
               '탠다', '처다', '든다', '레다', '꾼다', '인다', '춘다', '엿다', '섰다', '뀐다', '커다', '스다', 
               '핀다', '구다', '아다', '깊다', '봤다', '녔다', '트다', '같다', '리다', '자다', '씨다', '세다', 
               '호다', '그다', '툰다', '파다', '혔다', '띈다', '빈다', '었다', '진다', '니다', '잇다', '놨다', 
               '초다', '러다', '타다', '나다', '딴다', '민다', '났다', '깼다', ')다', '탰다', '탔다', '차다', 
               '했다', '셌다', '낸다', '된다', '표다', '수다', '줬다']
ending_list = set(ending_list)
for i in tqdm(range(len(test_cleansing))) :
    flag = 0
    for end_word in ending_list :
        if  end_word in test_cleansing['sentence'][i] :
            flag = 1
    
    
    # bad sentence
    if flag == 0 :
        bad_sentence.append(i)
    
    # good sentence
    if flag == 1 :
        # 2. dot slicing
        # modified _today(0405)
        # end of sentence need dot point but none
        dot_cnt = test_cleansing['sentence'][i].count("다.")
        if dot_cnt >= 1 :
            first_dot_idx = test_cleansing['sentence'][i].find("다.")
            
            if dot_cnt >= 2 :
                second_dot_idx = test_cleansing['sentence'][i].find("다.", first_dot_idx + 2)
                test_cleansing['sentence'][i] = test_cleansing['sentence'][i][:second_dot_idx+2]
                
            else :
                test_cleansing['sentence'][i] = test_cleansing['sentence'][i][:first_dot_idx+2]

print("Delete : ", len(bad_sentence))
test_cleansing = test_cleansing.drop(bad_sentence)
test_cleansing['id'] = [i for i in range(len(test_cleansing))]
test_cleansing.reset_index(drop=False, inplace=True)
test_cleansing.drop(['index'], axis=1, inplace=True)
test_cleansing

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=93206.0), HTML(value='')))

<ipython-input-190-df6a4923b7b1>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i][:second_dot_idx+2]
<ipython-input-190-df6a4923b7b1>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i][:first_dot_idx+2]

Delete :  56015

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
37186,37186,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
37187,37187,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
37188,37188,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
37189,37189,신진당는 장기간의 극심한 호우로 심각한 피해가 발생함에 따라 지자체의 신속한 복구 ...,신진당,NFP,ORG,ORG,org:alternate_names,"[0, 2]","[87, 89]"
37190,37190,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [191]:
bad_sentence = []

for i in range(len(test_cleansing)) :
    if "|" in test_cleansing['sentence'][i] :
        bad_cut_point = test_cleansing['sentence'][i].find("|")
        
        if "." in test_cleansing['sentence'][i][:bad_cut_point] :
            cut_point = test_cleansing['sentence'][i][:bad_cut_point].find(".")
            test_cleansing['sentence'][i] = test_cleansing['sentence'][i][:cut_point+1]
        
        else :
            bad_sentence.append(i)

print("Delete : ", len(bad_sentence))
test_cleansing = test_cleansing.drop(bad_sentence)
test_cleansing['id'] = [i for i in range(len(test_cleansing))]
test_cleansing.reset_index(drop=False, inplace=True)
test_cleansing.drop(['index'], axis=1, inplace=True)
test_cleansing

<ipython-input-191-8b4c78327f33>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i][:cut_point+1]

Delete :  86

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
37100,37100,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
37101,37101,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
37102,37102,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
37103,37103,신진당는 장기간의 극심한 호우로 심각한 피해가 발생함에 따라 지자체의 신속한 복구 ...,신진당,NFP,ORG,ORG,org:alternate_names,"[0, 2]","[87, 89]"
37104,37104,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [192]:
bad_sentence = []

for i in range(len(test_cleansing)):
    sub_i = test_cleansing['subject_idx'][i][1:-1].split(", ")
    obj_i = test_cleansing['object_idx'][i][1:-1].split(", ")
    
    
    if min(int(sub_i[1]), int(obj_i[1])) + 60  < max(int(sub_i[0]), int(obj_i[0])) :
        bad_sentence.append(i)

print("Delete : ", len(bad_sentence))
test_cleansing = test_cleansing.drop(bad_sentence)
test_cleansing['id'] = [i for i in range(len(test_cleansing))]
test_cleansing.reset_index(drop=False, inplace=True)
test_cleansing.drop(['index'], axis=1, inplace=True)
test_cleansing

Delete :  2779

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
34321,34321,"FC 서울 소속으로 활약하다가, 2003년 12월 같은 한빛 소속의 이청용",이청용,FC 서울,PER,ORG,no_relation,"[38, 40]","[0, 4]"
34322,34322,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
34323,34323,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
34324,34324,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
34325,34325,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [ ]:
for i in bad_sentence :
    print(test_cleansing['sentence'][i])
    print("\n")

In [194]:
bad_sentence = []

bad_list = ['?', '@', '—', '©', '\n\n','\t', 'http', 'www.']
for i in range(len(test_cleansing)) :
    flag = 0
    for bad_word in bad_list :
        if bad_word in test_cleansing['sentence'][i] :
            flag = 1
    
    if flag == 1 :
        bad_sentence.append(i)

print("Delete : ", len(bad_sentence))
test_cleansing = test_cleansing.drop(bad_sentence)
test_cleansing['id'] = [i for i in range(len(test_cleansing))]
test_cleansing.reset_index(drop=False, inplace=True)
test_cleansing.drop(['index'], axis=1, inplace=True)
test_cleansing

Delete :  745

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
33576,33576,"FC 서울 소속으로 활약하다가, 2003년 12월 같은 한빛 소속의 이청용",이청용,FC 서울,PER,ORG,no_relation,"[38, 40]","[0, 4]"
33577,33577,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
33578,33578,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
33579,33579,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
33580,33580,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [195]:
bad_sentence = []

for i in range(len(test_cleansing)) :
    if len(test_cleansing['sentence'][i]) < 20 :
        bad_sentence.append(i)

print("Delete : ", len(bad_sentence))        
test_cleansing = test_cleansing.drop(bad_sentence)
test_cleansing['id'] = [i for i in range(len(test_cleansing))]
test_cleansing.reset_index(drop=False, inplace=True)
test_cleansing.drop(['index'], axis=1, inplace=True)
test_cleansing

Delete :  507

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
33069,33069,"FC 서울 소속으로 활약하다가, 2003년 12월 같은 한빛 소속의 이청용",이청용,FC 서울,PER,ORG,no_relation,"[38, 40]","[0, 4]"
33070,33070,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
33071,33071,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
33072,33072,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
33073,33073,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [196]:
import re

bad_sentence = []

for i in tqdm(range(len(test_cleansing))) :
    
    test_cleansing['sentence'][i] = re.sub('(([-=])\\2{2,})', '', test_cleansing['sentence'][i])
    
    
    line_cnt = test_cleansing['sentence'][i].count("\n")
    
    if line_cnt >= 3 :
        bad_sentence.append(i)
    
    elif "\n" in test_cleansing['sentence'][i] :
        test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace("\n", " ")
        # print("\n")

print("Delete : ", len(bad_sentence))
test_cleansing = test_cleansing.drop(bad_sentence)
test_cleansing['id'] = [i for i in range(len(test_cleansing))]
test_cleansing.reset_index(drop=False, inplace=True)
test_cleansing.drop(['index'], axis=1, inplace=True)
test_cleansing

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=33074.0), HTML(value='')))

<ipython-input-196-80a1de80a736>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = re.sub('(([-=])\\2{2,})', '', test_cleansing['sentence'][i])
<ipython-input-196-80a1de80a736>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace("\n", " ")

Delete :  78

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
32991,32991,"FC 서울 소속으로 활약하다가, 2003년 12월 같은 한빛 소속의 이청용",이청용,FC 서울,PER,ORG,no_relation,"[38, 40]","[0, 4]"
32992,32992,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
32993,32993,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
32994,32994,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
32995,32995,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [197]:
for i in range(len(test_cleansing)) :
    if "=연합뉴스" in test_cleansing['sentence'][i] :
        test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace("=연합뉴스", "")
        
for i in range(len(test_cleansing)) : 
    if "이데일리" in test_cleansing['sentence'][i] :
        edaily = test_cleansing['sentence'][i].find("이데일리")
        edaily_end = test_cleansing['sentence'][i][edaily:].find("]")
        test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace(test_cleansing['sentence'][i][edaily-2:edaily + edaily_end+1], "")
        
for i in range(len(test_cleansing)) : 
    if "사진=" in test_cleansing['sentence'][i] :
        test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace("사진=", "")

<ipython-input-197-906d77bd5518>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace("=연합뉴스", "")
<ipython-input-197-906d77bd5518>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace(test_cleansing['sentence'][i][edaily-2:edaily + edaily_end+1], "")
<ipython-input-197-906d77bd5518>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = test_cleansing['sentence'][i].replace("사진=", "")

In [198]:
# 마지막 띄어쓰기 전처리

for i in range(len(test_cleansing)) :
    test_cleansing['sentence'][i] = re.sub(' +', ' ', test_cleansing['sentence'][i])

<ipython-input-198-66c4abf18507>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleansing['sentence'][i] = re.sub(' +', ' ', test_cleansing['sentence'][i])

In [200]:
test_cleansing.to_csv("/opt/ml/dataset/train/gen_train_processed.csv", encoding='utf-8')

In [199]:
test_cleansing

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,강용석이 쓰고 가로세로연구소(이하 가세연)가 기획한 '가세연 vs 강용석'은 지난 ...,가로세로연구소,강용석,ORG,PER,no_relation,"[8, 14]","[0, 2]"
1,1,"아에로플로트·로시야 항공 등 러시아 국영 항공사 소속의 승무원 출신으로, 한국인 최...",로시야 항공,아에로플로트,ORG,ORG,no_relation,"[7, 12]","[0, 5]"
2,2,유럽 좌파당는 지난 26일 유럽 연합 가입 반대를 지지하는 '유럽 좌파당 선언'을 ...,유럽 좌파당,유럽 연합,ORG,ORG,org:member_of,"[0, 5]","[15, 19]"
3,3,익산시(대표 정헌율)는 9일 익산시청 2층 상황실에서 익산시 체육회 제22차 이사회...,익산시,정헌율,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
4,4,1979년년 프로 야구 드래프트 1순위로 구리여자중학교에 입학했지만 야구부가 없는 ...,구리여자중학교,1979년,ORG,DAT,no_relation,"[23, 29]","[0, 4]"
...,...,...,...,...,...,...,...,...,...
32991,32991,"FC 서울 소속으로 활약하다가, 2003년 12월 같은 한빛 소속의 이청용",이청용,FC 서울,PER,ORG,no_relation,"[38, 40]","[0, 4]"
32992,32992,마가다 왕국 공산당을 포함한 모든 좌파 정당은 사이슈나가 왕조,사이슈나가 왕조,마가다 왕국,ORG,ORG,org:place_of_headquarters,"[26, 33]","[0, 5]"
32993,32993,랜디 마시은 이를 듣지 않고 곧바로 진격했다가 검은색,랜디 마시,검은색,PER,POH,no_relation,"[0, 4]","[26, 28]"
32994,32994,710년를 세운 경우와 같이 아자개가 견훤과는 독자적인 움직임을 보였다는 이유로 견...,이중무,710년,PER,DAT,no_relation,"[49, 51]","[0, 3]"
32995,32995,핑거 일레븐는 러시아의 침공을 받았지만 캐나다,핑거 일레븐,캐나다,ORG,LOC,org:place_of_headquarters,"[0, 5]","[22, 24]"

In [ ]:
for i in range(len(test_cleansing)) :
    print(test_cleansing['sentence'][i])
    print("\n")

In [ ]:
bad_sentence = []
for i in range(len(gen_train)) : 
    sub_i = gen_train['subject_idx'][i][1:-1].split(", ")
    obj_i = gen_train['object_idx'][i][1:-1].split(", ")
    
    if len(gen_train['sentence'][i]) == max(int(sub_i[1]),int(obj_i[1]))+1 :
        bad_sentence.append(i)

gen_train = gen_train.drop(bad_sentence)
gen_train['id'] = [i for i in range(len(gen_train))]
gen_train.reset_index(drop=False, inplace=True)
gen_train.drop(['index'], axis=1, inplace=True)
gen_train

In [108]:
# test_dataset ending_word test
test_dataset = pd.read_csv("/opt/ml/dataset/train/train.csv", index_col = 0, encoding='utf-8')
test_dataset

,sentence,subject_entity,object_entity,label,source
id,,,,,
0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...
32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [109]:
cnt = []
for i in range(len(test_dataset)) :
    if test_dataset['sentence'][i][-2:] == "다." : 
        cnt.append(test_dataset['sentence'][i][-3:-1])
        # print(cnt.append(test_dataset['sentence'][i]))

print(set(cnt))

{'쁘다', '선다', '가다', '저다', '폈다', '왔다', '셨다', '해다', '하다', '째다', '겠다', '빠다', '찮다', '웠다', '온다', '겁다', '제다', '한다', '준다', '도다', '높다', '댔다', '’다', '뉜다', '뤘다', '만다', '른다', '고다', '녀다', '재다', '회다', '건다', '대다', '렀다', '난다', '룬다', '드다', '계다', '겼다', '친다', "'다", '않다', '투다', '랜다', '쳤다', '때다', '즈다', '는다', '%다', '췄다', '사다', '썼다', '찼다', '부다', '본다', '쓴다', '땄다', '거다', '뗀다', '카다', '지다', '둔다', '린다', '넸다', '컸다', '샀다', '기다', '챘다', '서다', '죄다', '란다', '과다', '꼈다', '태다', '졌다', ' 다', '퉜다', '랬다', '연다', '화다', '다다', '많다', '깝다', '오다', '이다', '퍼다', '뗐다', '닌다', '았다', '댄다', '뜬다', '렸다', '눴다', '끈다', '간다', '내다', '더다', '미다', '쇼다', '켰다', '몄다', '교다', '크다', '였다', '쳣다', '래다', '꿨다', '볐다', '여다', '례다', '긴다', '뎠다', '르다', '뒀다', '갔다', '렵다', '힌다', '랐다', '버다', '킨다', '체다', 's다', '없다', '됐다', '있다', '터다', '운다', '으다', '냈다', '우다', '은다', '주다', '탠다', '처다', '든다', '레다', '꾼다', '인다', '춘다', '엿다', '섰다', '뀐다', '커다', '스다', '핀다', '구다', '아다', '깊다', '봤다', '녔다', '트다', '같다', '리다', '자다', '씨다', '세다', '호다', '그다', '툰다', '파다', '혔다', '띈다', '빈다', '었다', '진다', '니다', '잇다', '놨다', '초다', '러다', '타다', '나다', '딴다', '민다', '났다', '깼다', ')다', '탰다', '탔다', '차다', '했다', '셌다', '낸다', '된다', '표다', '수다', '줬다'}